## Problem Statement: Provide a Product Recommendation System for Taobao based on User Behaviour data

In [1]:
import pandas as pd
import numpy as np

In [3]:
#Data Source:
#https://tianchi.aliyun.com/dataset/dataDetail?dataId=649

### Data Extraction and Cleaning

In [2]:
tb = pd.read_csv('./UserBehavior.csv')

In [5]:
tb.columns = ['user_id', 'item_id', 'category_id', 'behavior_type', 'timestamp']

In [6]:
tb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100150806 entries, 0 to 100150805
Data columns (total 5 columns):
user_id          int64
item_id          int64
category_id      int64
behavior_type    object
timestamp        int64
dtypes: int64(4), object(1)
memory usage: 3.7+ GB

In [7]:
tb.dtypes

user_id           int64
item_id           int64
category_id       int64
behavior_type    object
timestamp         int64
dtype: object

In [8]:
tb.describe()

            user_id       item_id   category_id     timestamp
count  1.001508e+08  1.001508e+08  1.001508e+08  1.001508e+08
mean   5.069431e+05  2.579775e+06  2.696380e+06  1.511951e+09
std    2.940605e+05  1.488056e+06  1.463155e+06  5.528006e+06
min    1.000000e+00  1.000000e+00  8.000000e+01 -2.134949e+09
25%    2.524290e+05  1.295225e+06  1.320293e+06  1.511762e+09
50%    5.040150e+05  2.580735e+06  2.671397e+06  1.511965e+09
75%    7.609490e+05  3.862042e+06  4.145813e+06  1.512179e+09
max    1.018011e+06  5.163070e+06  5.162429e+06  2.122867e+09

In [9]:
tb.shape

(100150806, 5)

In [10]:
#Find out the number of users
len(tb.user_id.unique())

987994

In [11]:
#Find out the number of products
len(tb.item_id.unique())

4162024

In [12]:
#Find out the number of product categories
len(tb.category_id.unique())

9439

In [13]:
#Find out all the different types of user behaviour
# pv = page view i.e. item click
# cart = add item to cart
# buy = purchase item
# fav = favor an item (taobao has a feature to save an item for future reference)
tb.behavior_type.value_counts()

pv      89716263
cart     5530446
fav      2888258
buy      2015839
Name: behavior_type, dtype: int64

In [14]:
tb.head()

   user_id  item_id  category_id behavior_type   timestamp
0        1  2333346      2520771            pv  1511561733
1        1  2576651       149192            pv  1511572885
2        1  3830808      4181361            pv  1511593493
3        1  4365585      2520377            pv  1511596146
4        1  4606018      2735466            pv  1511616481

In [15]:
#Drop duplicates
tb = tb.drop_duplicates()

In [16]:
#Dropped 49 duplicate rows
tb.shape

(100150757, 5)

In [17]:
#Convert datetime

tb['timestamp'] = pd.to_datetime(tb['timestamp'],unit='s')

In [18]:
tb.head()

   user_id  item_id  category_id behavior_type           timestamp
0        1  2333346      2520771            pv 2017-11-24 22:15:33
1        1  2576651       149192            pv 2017-11-25 01:21:25
2        1  3830808      4181361            pv 2017-11-25 07:04:53
3        1  4365585      2520377            pv 2017-11-25 07:49:06
4        1  4606018      2735466            pv 2017-11-25 13:28:01

In [19]:
tb.tail()

           user_id  item_id  category_id behavior_type           timestamp
100150801   999999  4797808        11120            pv 2017-12-03 09:30:03
100150802   999999  4613472      4602841            pv 2017-12-03 09:36:06
100150803   999999  3647364      2304296            pv 2017-12-03 09:36:32
100150804   999999  1903801      2304296            pv 2017-12-03 09:37:07
100150805   999999  3696094      4602841            pv 2017-12-03 09:38:11

In [20]:
#Finding null rows
tb.isnull().sum()

user_id          0
item_id          0
category_id      0
behavior_type    0
timestamp        0
dtype: int64

In [21]:
tb.to_csv('tb_new.csv', index=False)